body {
    background-color: #F9F7F3;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.25em;
}

/* Top container styles */
.top-container {
    min-height: 100vh;
    background-image: url("../images/1M3A4521.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
}

.filter {
    background-color: rgba(94,97,98,0.3);
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-text-container {
    border: 3px solid white;
    padding: 50px;
    font-family: 'Cedarville Cursive', cursive;
    color: white;
}

.intro-text-container h1 {
    font-size: 3rem;
}

@media only screen and (max-width: 600px) {
    .intro-text-container {
        padding: 25px;
    }

    .intro-text-container h1 {
        font-size: 2.5rem;
    }
}

.navbar {
    padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-brand {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 32px;
    font-weight: 500;
    color: white !important;
}

.nav-link {
    color: white !important;
}

.navbar-dark {
    background-color: rgba(94,97,98,0.5)
}

.nav-link {
    margin-left: auto;
}

.navbar-toggler {
    border: 2px solid white !important;
}

/* Vlog container styles */
#vlogs {
    margin-top: 25px;
    padding: 0 10%;
}

#vlogs hr {
    height: 3px;
}

.vlog-wrapper {
    padding: 15px;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    margin: 25px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.5s;
    background-color: #F9F7F3;
}

.vlog-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(63, 45, 45, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.video-wrapper {
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.vlog {
    width: 100%;
    min-height: 300px;
}